<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
    <div id="head">
      <nav>
        <ul>
          <li><a href=".">ツイート<a></li>
          <li><a href=".">ツイートと返信<a></li>
          <li><a href=".">メディア<a></li>
          <li><a href=".">いいね<a></li>
        </ul>
      </nav>
    </div>
    </body>
</html>