ヘッダーだよ～
<%= image_tag 'IshikawaYuki.png' class="img-right" %>


<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <style type=“text/css”>
          nav ul {
            list-style-type: none;
            color: black;
            margin: 0;
            padding: 0;
          }
          nav li {
            display: inline;
          }
          nav li a {
            text-decoration: none;
            padding: 8px;
            background-color: white;
            color: black;
          }
          nav li a:hover {
            border: solid 4px blue;
            color: black;
          }
          float: right;
      </style>
    </head>
    <body>
    <div id="page">
      <nav>
        <ul>
          <li><a href=".">ツイート<a></li>
          <li><a href=".">ツイートと返信<a></li>
          <li><a href=".">メディア<a></li>
          <li><a href=".">いいね<a></li>
        </ul>
      </nav>
    </div>
    </body>
</html>