<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <header>
      <div id="side">
        <ul>
          <li style="list-style-image: url('../images/ホーム.png');"><a href=".">ホーム<a></li><p>
          <li style="list-style-image: url('../images/話題を検索.png');"><a href=".">話題を検索<a></li><p>
          <li style="list-style-image: url('../images/通知.png');"><a href=".">通知<a></li><p>
          <li style="list-style-image: url('../images/メッセージ.png');"><a href=".">メッセージ<a></li><p>
          <li style="list-style-image: url('../images/ブックマーク.png');"><a href=".">ブックマーク<a></li><p>
          <li style="list-style-image: url('../images/リスト.png');"><a href=".">リスト<a></li><p>
          <li style="list-style-image: url('../images/プロフィール.png');"><a href=".">プロフィール<a></li><p>
          <li style="list-style-image: url('../images/もっと見る.png');"><a href=".">もっと見る<a></li><p>
        </ul>
      </div>
      
      <div id="side2">  
        <ul>
          <li><%= link_to 'ツイートする', '/tweets/new' %></li>
        </ul>
      </div>
    </header>
  </body>
</html>